<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/pcf-automation/index.html">Platform Automation for PCF (Alpha)</a>
      </li>

      <li>
        <a href="/pcf-automation/getting-started.html">Getting Started: Generating Configs and Inputs</a>
      </li>

      <li>
        <a href="/pcf-automation/upgrade.html">Upgrading PCF using Platform Automation</a>
      </li>

      <li>
        <a href="/pcf-automation/using.html">Using Platform Automation for PCF</a>
      </li>

      <li>
        <a href="/pcf-automation/task-reference.html">Task Reference</a>
      </li>

      <li>
        <a href="/pcf-automation/pipeline-reference.html">Pipeline Reference</a>
      </li>

      <li>
        <a href="/pcf-automation/release-notes.html">Release Notes</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
